#googleMap {
  height: 400px;
}
.form {
  padding: 0 1.2rem;
}

.form .form-row {
  padding: 0.8rem;
}

input {
  padding: 0.5rem;
  border: 0.1rem solid #ccc;
}

button[type="submit"] {
  background-color: #4caf50;
  padding: 1rem 4rem;
  border: none;
  color: white;
  border-radius: 0;
  cursor: pointer;
}

button[disabled] {
  opacity: 0.5;
}